---
import { Picture } from 'astro:assets'
import educationalsiteImage from '../../assets/educationalsite2.jpg'
import astroshipImage from '../../assets/template-astroship.jpg'
import astrolusImage from '../../assets/template-astrolus.jpg'
import planetarioImage from '../../assets/template-planetario.jpg'
import tailcastImage from '../../assets/template-tailcast.jpg'
import agencexImage from '../../assets/template-agencex.jpg'
import astrowindImage from '../../assets/template-astrowind.jpg'
import Layout from '../../layouts/Layout.astro'
import Button from '../../components/ui/Button.astro'
import SectionHeading from '../../components/ui/SectionHeading.astro'
---

<Layout title='CRU - Custom educational Sites'>
  <div class='space-y-32'>
    <div class='lg:grid lg:grid-cols-7 lg:grid-rows-1 lg:gap-x-8 lg:gap-y-10 xl:gap-x-16'>
      <!-- Product image -->
      <div class='lg:col-span-4 lg:row-end-1'>
        <div class='aspect-h-3 aspect-w-4 overflow-hidden rounded-lg bg-gray-100'>
          <Picture
            src={educationalsiteImage}
            formats={['avif', 'webp']}
            height={800}
            alt='web-apps'
            class='object-cover object-center bg-repeat'
          />
        </div>
      </div>

      <!-- Product details -->
      <div
        class='mx-auto max-w-2xl space-y-10 lg:col-span-3 lg:row-span-2 lg:row-end-2 lg:mt-0 lg:max-w-none'
      >
        <div class='flex flex-col-reverse'>
          <div>
            <h1>Educational sites</h1>
            <h2 id='information-heading' class='sr-only'>Product information</h2>
            <p class='mt-1 text-sm text-gray-600'>
              Static educational and awareness focused websites
            </p>
          </div>
        </div>
        <p>
          Bring awareness to your project through a beautifully designed static website.
          Pick from our catologue of pre-made templates and enhance your online presence
          with your very own branded site.
        </p>
        <div class='grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-1'>
          <Button
            primary
            block
            href='https://redcap.cru.ucalgary.ca/surveys/?s=7L49EPE94D'
            target='_blank'
            rel='noopener noreferrer'
          >
            Get started today
          </Button>
        </div>

        <div class='border-t border-gray-900/10 pt-8'>
          <h4>The process</h4>
          <div class='prose prose-sm mt-4 text-gray-600'>
            <ul role='list' class='space-y-6'>
              <li class='relative flex gap-x-4'>
                <div class='absolute left-0 top-0 flex w-6 justify-center -bottom-6'>
                  <div class='w-px bg-gray-200'></div>
                </div>
                <div
                  class='relative flex h-6 w-6 flex-none items-center justify-center bg-white'
                >
                  <div class='h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-gray-300'>
                  </div>
                </div>
                <p class='flex-auto py-0.5 text-xs leading-5 text-gray-600'>
                  <span class='font-medium text-gray-900'>Intake</span>: lets sit down and
                  discuss your project requirements
                </p>
              </li>

              <li class='relative flex gap-x-4'>
                <div class='absolute left-0 top-0 flex w-6 justify-center -bottom-6'>
                  <div class='w-px bg-gray-200'></div>
                </div>
                <div
                  class='relative flex h-6 w-6 flex-none items-center justify-center bg-white'
                >
                  <div class='h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-gray-300'>
                  </div>
                </div>
                <p class='flex-auto py-0.5 text-xs leading-5 text-gray-600'>
                  <span class='font-medium text-gray-900'>Pick a template</span>: browse
                  our catalogue of templates and choose the one thats right for you
                </p>
              </li>
              <li class='relative flex gap-x-4'>
                <div class='absolute left-0 top-0 flex w-6 justify-center -bottom-6'>
                  <div class='w-px bg-gray-200'></div>
                </div>
                <div
                  class='relative flex h-6 w-6 flex-none items-center justify-center bg-white'
                >
                  <div class='h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-gray-300'>
                  </div>
                </div>
                <p class='flex-auto py-0.5 text-xs leading-5 text-gray-600'>
                  <span class='font-medium text-gray-900'>Content</span>: provide us with
                  the text and images you want to see on your site
                </p>
              </li>
              <li class='relative flex gap-x-4'>
                <div class='absolute left-0 top-0 flex w-6 justify-center -bottom-6'>
                  <div class='w-px bg-gray-200'></div>
                </div>
                <div
                  class='relative flex h-6 w-6 flex-none items-center justify-center bg-white'
                >
                  <div class='h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-gray-300'>
                  </div>
                </div>
                <p class='flex-auto py-0.5 text-xs leading-5 text-gray-600'>
                  <span class='font-medium text-gray-900'>Development</span>: our team
                  will get to work building your website using the template
                </p>
              </li>
              <li class='relative flex gap-x-4'>
                <div class='absolute left-0 top-0 flex w-6 justify-center -bottom-6'>
                  <div class='w-px bg-gray-200'></div>
                </div>
                <div
                  class='relative flex h-6 w-6 flex-none items-center justify-center bg-white'
                >
                  <div class='h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-gray-300'>
                  </div>
                </div>
                <p class='flex-auto py-0.5 text-xs leading-5 text-gray-600'>
                  <span class='font-medium text-gray-900'>Deployment</span>: we'll take
                  care of the details so you don't have to
                </p>
              </li>
              <li class='relative flex gap-x-4'>
                <div
                  class='relative flex h-6 w-6 flex-none items-center justify-center bg-white'
                >
                  <div class='h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-gray-300'>
                  </div>
                </div>
                <p class='flex-auto py-0.5 text-xs leading-5 text-gray-600'>
                  <span class='font-medium text-gray-900'>Go live</span>! your site will
                  be published to the web making it available for you and your users
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- FAQ -->
      <div class='lg:col-span-4 divide-y divide-gray-900/10'>
        <h4>Frequently asked questions</h4>
        <dl class='mt-10 space-y-8 divide-y divide-gray-900/10'>
          <div class='pt-8 lg:grid lg:grid-cols-12 lg:gap-8'>
            <dt class='text-sm font-semibold leading-7 lg:col-span-5'>
              Why don't scientists trust atoms?
            </dt>
            <dd class='mt-4 lg:col-span-7 lg:mt-0'>
              <p class='text-sm leading-7 text-gray-600'>
                Because they make up everything!.
              </p>
            </dd>
          </div>
          <div class='pt-8 lg:grid lg:grid-cols-12 lg:gap-8'>
            <dt class='text-sm font-semibold leading-7 lg:col-span-5'>
              Did you hear about the mathematician who's afraid of negative numbers?
            </dt>
            <dd class='mt-4 lg:col-span-7 lg:mt-0'>
              <p class='text-sm leading-7 text-gray-600'>
                He'll stop at nothing to avoid them!
              </p>
            </dd>
          </div>
          <div class='pt-8 lg:grid lg:grid-cols-12 lg:gap-8'>
            <dt class='text-sm font-semibold leading-7 lg:col-span-5'>
              Why don't skeletons fight each other?
            </dt>
            <dd class='mt-4 lg:col-span-7 lg:mt-0'>
              <p class='text-sm leading-7 text-gray-600'>They don't have the guts..</p>
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <section class='space-y-16'>
      <div class='mx-auto max-w-2xl text-center lg:max-w-4xl'>
        <SectionHeading
          heading="Choose the template that's right for you"
          sup='Browse our catalogue'
        >
          <p>
            Click on a template below to see a live demo. We'll take your content and
            integrate it with your chosen template to make your very own website.
          </p>
        </SectionHeading>
      </div>
      <div class='grid grid-cols-3 gap-8'>
        <div class='relative isolate overflow-hidden rounded-2xl px-8 pb-8 pt-48'>
          <Picture
            src={astroshipImage}
            formats={['avif', 'webp']}
            height={400}
            alt='astroship-template'
            class='absolute inset-0 -z-10 h-full w-full object-cover'
          />
          <div
            class='absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40'
          >
          </div>
          <div
            class='absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10'
          >
          </div>
          <h3 class='text-white'>
            <a
              href='https://cru-template-astroship.netlify.app/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <span class='absolute inset-0'></span>
               Astroship
            </a>
          </h3>
        </div>

        <div class='relative isolate overflow-hidden rounded-2xl px-8 pb-8 pt-48'>
          <Picture
            src={astrolusImage}
            formats={['avif', 'webp']}
            height={400}
            alt='astrolus-template'
            class='absolute inset-0 -z-10 h-full w-full object-cover'
          />
          <div
            class='absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40'
          >
          </div>
          <div
            class='absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10'
          >
          </div>
          <h3 class='text-white'>
            <a
              href='https://cru-template-astrolus.netlify.app/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <span class='absolute inset-0'></span>
               Astrolus
            </a>
          </h3>
        </div>

        <div class='relative isolate overflow-hidden rounded-2xl px-8 pb-8 pt-48'>
          <Picture
            src={tailcastImage}
            formats={['avif', 'webp']}
            height={400}
            alt='tailcast-template'
            class='absolute inset-0 -z-10 h-full w-full object-cover'
          />
          <div
            class='absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40'
          >
          </div>
          <div
            class='absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10'
          >
          </div>
          <h3 class='text-white'>
            <a
              href='https://cru-template-tailcast.netlify.app/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <span class='absolute inset-0'></span>
               Tailcast
            </a>
          </h3>
        </div>

        <div class='relative isolate overflow-hidden rounded-2xl px-8 pb-8 pt-48'>
          <Picture
            src={planetarioImage}
            formats={['avif', 'webp']}
            height={400}
            alt='planetario-template'
            class='absolute inset-0 -z-10 h-full w-full object-cover'
          />
          <div
            class='absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40'
          >
          </div>
          <div
            class='absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10'
          >
          </div>
          <h3 class='text-white'>
            <a
              href='https://cru-template-planetario.netlify.app/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <span class='absolute inset-0'></span>
               Planetario
            </a>
          </h3>
        </div>

        <div class='relative isolate overflow-hidden rounded-2xl px-8 pb-8 pt-48'>
          <Picture
            src={agencexImage}
            formats={['avif', 'webp']}
            height={400}
            alt='agencex-template'
            class='absolute inset-0 -z-10 h-full w-full object-cover'
          />
          <div
            class='absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40'
          >
          </div>
          <div
            class='absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10'
          >
          </div>
          <h3 class='text-white'>
            <a
              href='https://cru-template-agencex.netlify.app/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <span class='absolute inset-0'></span>
               Agencex
            </a>
          </h3>
        </div>

        <div class='relative isolate overflow-hidden rounded-2xl px-8 pb-8 pt-48'>
          <Picture
            src={astrowindImage}
            formats={['avif', 'webp']}
            height={400}
            alt='astrowind-template'
            class='absolute inset-0 -z-10 h-full w-full object-cover'
          />
          <div
            class='absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40'
          >
          </div>
          <div
            class='absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10'
          >
          </div>
          <h3 class='text-white'>
            <a
              href='https://cru-template-astrowind.netlify.app/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <span class='absolute inset-0'></span>
               Astrowind
            </a>
          </h3>
        </div>
      </div>
    </section>
  </div>
</Layout>
