---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'input'> {
  id: string
  name: string
  label: string
  type?: HTMLAttributes<'input'>['type']
  className?: string
}

const { id = '', name = '', label = '', type = 'text', className, ...attrs } = Astro.props
---

<div class="space-y-1">
  <label for={id} class="block text-sm font-medium"
    >{`${label}${attrs.required ? ' *' : ''}`}</label
  >
  <input
    type={type}
    id={id}
    name={name}
    {...attrs}
    class=`block w-full rounded-md border border-gray-200 px-2 py-1 ${className}`
  />
</div>
