---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'input'> {
  id: string
  name: string
  label: string
  options: Array<{ value: string; label: string }>
  className?: string
}

const { id = '', name = '', label = '', options = [], className, ...attrs } = Astro.props
---

<div>
  <label for={id} class="block text-sm font-medium text-gray-700">{label}</label>
  <select
    name={name}
    id={id}
    {...attrs}
    class=`mt-1 block w-full rounded-md border-gray-300 shadow-sm ${className}`
  >
    {options.map((option) => <option value={option.value}>{option.label}</option>)}
  </select>
</div>
