---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'input'> {
  id: string
  name: string
  label: string
  options: Array<{ value: string; label: string }>
  className?: string
}

const { id = '', name = '', label = '', options = [], className, ...attrs } = Astro.props
---

<div class="space-y-1">
  <label for={id} class="block text-sm font-medium">{label}</label>
  <select
    name={name}
    id={id}
    {...attrs}
    class=`block w-full rounded-md border border-gray-200 px-2 py-1 appearance-none ${className}`
  >
    {options.map((option) => <option value={option.value}>{option.label}</option>)}
  </select>
</div>
